*{margin: 0%;
  padding: 0%;
  box-sizing: 0%;
}

body{
  width:100vw ;
  height: 100vh ;
  background-image: url(cidade\ invisivel\ 2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  background-color:#00000055;
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
  font-family: 'Karla', sans-serif; 
  color: white;
}

.logo img{
    width: 120px;

}

.links ul{
  display: flex;
  gap: 20px;
  list-style-type: none;
  

}

header{
  background-color: #000000AA;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;
  align-items: center;
}
main{
  padding: 25vh 10vw;
  flex-grow: 1;
}

main h2{
  font-size: 30;
  font-family: "Arial";
}

main h1{
  font-size: 70;
  font-weight: 200 ;
  max-width: 800px ;
  font-weight: bold; 
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  position: relative;
}

 main p{
   font-size: 25;
   font-family: "Arial";
   max-width: 900px;
 }

 main a{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 200px;
   height: 50px;
   background-color: red;
   margin-top: 30px;
   border-radius: 2px;
   font-size: 20px;
   color: white;
   text-decoration-line: none;


 }

a{
  color: white;
  text-decoration: none;
}

main a:hover{
  border: solid 1px black;
  transition: all 1s;
  user-select: none;

}

.links a:hover{
  color: red;
  transition: all 1s;
  user-select: none;
}

.butterfly{
  position: absolute;
  width: 60px;
  top: 90vh;
  left: 90vw;
  filter: brightness(10%);
  animation: voar 20s linear;
}

footer{
    height: 30px;
    text-align: center;
    font-style: italic;
    align-items: center;

}

@keyframes voar{ 
  0%{
    -o-transform: translate(0, 0);
  }
  100%{ 
    transform: translate(-90vw, -90vh) ;
  }
}